*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.con{
	display: flex;
	width: 1200px;
	justify-content: space-between;
	align-items: center;
	gap:30px;
	margin:auto;

}
nav ul{
	display: flex;
	justify-content: center;
	gap:30px;
	list-style:none;

}
.flex{
	display:flex;
	width: 1200px;
	padding:20px;
	justify-content:space-between;
	align-items:center;
}
nav{
	color:1px , solid, black;
	padding:15px;
}
main{
	display:flex;
}
.left{
	width:30%;
	background: blue;
}
.mid{
	width:50%;
	
	
}
.right{
	width:20%;
	background:skyblue;

}
.mid img 
{
	width: 100%
}